.md ul > li {
    position: relative;
}
.md ul > li > a[href^="/box"] + ul,
.md ul > li > a[href^="/diagonal"] + ul,
.md ul > li > a[href^="/choice"] + ul {
    position: relative;
    list-style-type: none;
    color: #fff;
    background-color: #000;
    padding: 1.1em 1.4em;
    border: 3px solid #e0e0e0;
    margin: -12px 0 0 -2em !important;
    min-height: 71px;
    max-width: 675px;
}
:lang(dm) .md ul > li > a[href^="/box"] + ul,
:lang(dm) .md ul > li > a[href^="/diagonal"] + ul,
:lang(dm) .md ul > li > a[href^="/choice"] + ul {
    border-width: 14px;
    border-image: url(%%e%%) 14;
}
:lang(dm) .md ul > li > a[href^="/box"] + ul,
:lang(dm) .md ul > li > a[href^="/diagonal"] + ul {
    padding-top: 0.4em;
}
.md ul > li > a[href^="/box"] + ul ul {
    list-style-type: none;
}
.md ul > li > a + a[href^="/box"] + ul {
    padding-left: 105px;
}
.md ul > li > a[href="/s0"] + a[href^="/box"] + ul,
.md ul > li > a[href="/p0"] + a[href^="/box"] + ul {
    padding-left: 1.4em;
}
.md ul > li > a[href^="/box"] + ul a:visited {
    color: #eaf;
}
.md ul > li > a[href^="/box"] + ul > li,
.md ul > li > a[href^="/choice"] + ul > li {
    font-family: Determination Mono, Determination Sans, monospace, sans-serif;
    line-height: 1.5em;
    text-indent: -1em;
    padding-left: 1em;
    color: #fff;
    font-size: 16px !important;
    margin: 0;
}
.md ul > li > a[href^="/box"] + ul > li:before {
    content: "";
    display: inline-block;
    background-color: #fff;
    width: 12px;
    height: 9px;
    margin-bottom: 2px;
    margin-right: 8px;
    background-size: 12px;
}
.md > ul > li > a[href^="/box"] + ul > li > ul {
    position: relative;
    padding-left: 0;
    text-indent: 0;
}
.md > ul > li > a[href^="/box"] + ul > li > ul > li {
    display: inline;
    padding: 0 0 0 1.6em;
    color: #fff !important;
}
.md > ul > li > a[href^="/box"] + ul > li > ul > li:first-of-type:before,
.md > ul > li > a[href^="/choice"] + ul > li:first-of-type:before {
    position: absolute;
    top: -2px;
    left: 0;
    width: 16px;
    height: 16px;
    content: "";
    background-color: red;
    background-size: 16px;
}
.md > ul > li > a[href^="/choice"] + ul > li:first-of-type:before {
    top: 2px;
    left: -22px;
}
.md > ul > li > a[href^="/choice"] + ul > li {
    position: absolute;
    transform: translate(-50%, 0);
    top: 40px;
    left: calc(50% - 140px);
}
.md > ul > li > a[href^="/choice"] + ul > li:nth-of-type(2) {
    top: 40px;
    right: calc(50% - 140px);
    left: unset;
    transform: translate(50%, 0);
}
.md > ul > li > a[href^="/choice"] + ul > li:nth-of-type(3) {
    top: 10px;
    left: 50%;
}
.md > ul > li > a[href^="/choice"] + ul > li:nth-of-type(4) {
    top: 70px;
    left: 50%;
}
.md ul > li > a[href="/s0"] + a + ul > li,
.md ul > li > a[href="/s1"] + a + ul > li,
.md ul > li > a[href="/s2"] + a + ul > li,
.md ul > li > a[href="/s3"] + a + ul > li,
.md ul > li > a[href="/s4"] + a + ul > li,
.md ul > li > a[href="/s5"] + a + ul > li,
.md ul > li > a[href="/s6"] + a + ul > li,
.md ul > li > a[href="/s7"] + a + ul > li,
.md ul > li > a[href="/s8"] + a + ul > li {
    font-family: "Comic Sans", "Comic Sans MS", "Chalkboard SE", cursive;
    font-size: 1em;
    text-transform: none;
    word-spacing: 0.3ex;
    font-weight: 700;
}
.md ul > li > a + a[href^="/box"] + ul a[href="/threat"] {
    font-family: Determination Mono, Determination Sans, monospace, sans-serif;
}
.md ul > li > a[href^="/box"] + ul a[href="/threat"],
.md ul > li > a[href^="/box"] + ul a[href="/sans"] {
    color: #fff;
}
a[href="/cyan"] {
    color: #1ea8fc !important;
}
a[href="/orange"] {
    color: #ffa040 !important;
}
a[href="/blue"] {
    color: #00f !important;
}
a[href="/purple"] {
    color: #f0f !important;
}
a[href="/green"] {
    color: #0f0 !important;
}
a[href="/yellow"] {
    color: #ff0 !important;
}
a[href="/red"] {
    color: red !important;
}
a[href="/cyan"],
a[href="/orange"],
a[href="/blue"],
a[href="/purple"],
a[href="/green"],
a[href="/yellow"],
a[href="/red"] {
    font-weight: 700;
    pointer-events: none;
}
.md ul > li > a[href^="/box"] + ul a[href="/spoiler"],
.md ul > li > a[href^="/box"] + ul a[href="#spoiler"] {
    color: #fff !important;
    background-color: #fff !important;
}
.md ul > li > a[href^="/box"] + ul > li a[href="#spoiler"]:hover,
.md ul > li > a[href^="/box"] + ul > li code {
    color: #000 !important;
}
.md li > a + a[href^="/box"] + ul:before {
    position: absolute;
    top: 8px;
    left: 10px;
    width: 90px;
    height: 85px;
    content: "";
    // background-image: url(%%v%%);
    background-color: red;
    background-size: 4680px;
    z-index: 2;
    pointer-events: none;
}
:lang(dm) .md li > a + a[href^="/box"] + ul:before {
    top: 2px;
}
.md li > a + a[href^="/boxsmall"] + ul {
    transform: scale(0.55);
    top: -55px;
    border: none;
    background: 0 0;
    left: 125px;
    position: absolute;
    transform-origin: 0 0;
}
.md ul ul > li > a + a[href^="/box"] + ul {
    border: none;
    margin: -18px 0 0 -25px !important;
    padding: 4px 0 4px 140px !important;
    min-height: 39px;
}
.md ul ul > li > a + a[href^="/box"] + ul:before {
    left: 50px;
    top: 0;
    transform: scale(0.6);
    transform-origin: top right;
}
.md ul ul > li > a + a[href^="/box"] + ul > li {
    font-size: 12px !important;
    display: block;
}
.ad-container,
.md ul ul > li > a + a[href^="/box"] + ul > li:before,
.organic-listing,
.premium-banner {
    display: none;
}
.md ul ul > li:nth-of-type(3) > a + a[href^="/box"] + ul {
    margin: -62px 0 0 350px !important;
    padding-left: 0 !important;
    top: -6px;
}
.md ul ul > li:nth-of-type(3) > a + a[href^="/box"] + ul:before {
    left: -90px;
}
.md ul ul > li:nth-of-type(3) > a + a[href^="/box"] + ul:after {
    background: #000;
    width: 12px;
    height: 9px;
    position: absolute;
    content: "";
    left: -366px;
    top: 51px;
    z-index: 1;
}
.md ul > li > a[href^="/diagonal"] + ul {
    min-height: 99px;
}
.md ul > li > a[href^="/diagonal"] + ul > li > a + a[href^="/box"] + ul {
    padding-left: 5em !important;
    position: relative;
    margin-left: 0 !important;
    top: 17px;
}
.md ul > li > a[href^="/diagonal"] + ul > li:nth-of-type(2) > a + a[href^="/box"] + ul {
    margin-left: 100px !important;
    z-index: 1;
}
.md ul > li > a[href^="/diagonal"] + ul > li:nth-of-type(3) > a + a[href^="/box"] + ul {
    margin: -16px 0 2px 200px !important;
    z-index: 2;
}
.md ul > li > a[href^="/diagonal"] + ul > li > a + a[href^="/box"] + ul:before {
    left: -30px;
    top: -10px;
}
.md ul > li > a[href^="/box"] + ul a[href^="/cp"]:before,
.md ul > li > a[href^="/box"] + ul a[href^="/kk"]:before,
.md ul > li > a[href^="/box"] + ul a[href^="/sw"]:before,
.md ul > li > a[href^="/box"] + ul a[href^="/clh"]:before,
.md ul > li > a[href^="/box"] + ul a[href^="/clm"]:before,
.md ul > li > a[href^="/box"] + ul a[href^="/cls"]:before {
    content: "";
    position: absolute;
    background-color: gray;
    width: 25px;
    height: 25px;
    left: -13px;
    background-size: 151px;
    top: -3px;
}
.md ul > li > a[href^="/box"] + ul a[href^="/cp"]:before {
    background-position: 0 0;
}
.md ul > li > a[href^="/box"] + ul a[href^="/kk"]:before {
    background-position: -25px 0;
}
.md ul > li > a[href^="/box"] + ul a[href^="/sw"]:before {
    background-position: -50px 0;
}
.md ul > li > a[href^="/box"] + ul a[href^="/clh"]:before {
    background-position: -75px 0;
}
.md ul > li > a[href^="/box"] + ul a[href^="/clm"]:before {
    background-position: -100px 0;
}
.md ul > li > a[href^="/box"] + ul a[href^="/cls"]:before {
    background-position: -125px 0;
}
.md ul > li > a + a[href="/g"] + a + ul:after,
.md ul > li > a + a[href="/h"] + a + ul:after {
    content: "";
    position: absolute;
    background: url(%%props%%);
    width: 90px;
    height: 90px;
    background-size: 180px;
    top: 8px;
    left: 10px;
    z-index: 2;
}
:lang(dm) .md ul > li > a + a[href="/g"] + a + ul:after,
:lang(dm) .md ul > li > a + a[href="/h"] + a + ul:after {
    top: 2px;
}
.md ul > li > a + a[href="/g"] + a + ul:after {
    background-position: 0 -7px;
}
.md ul > li > a + a[href="/h"] + a + ul:after {
    background-position: -90px 0;
}
.md ul > li > a[href$="1"] + a ~ ul:before {
    background-position-x: 0;
}
.md ul > li > a[href$="2"] + a ~ ul:before {
    background-position-x: -90px;
}
.md ul > li > a[href$="3"] + a ~ ul:before {
    background-position-x: -180px;
}
.md ul > li > a[href$="4"] + a ~ ul:before {
    background-position-x: -270px;
}
.md ul > li > a[href$="5"] + a ~ ul:before {
    background-position-x: -360px;
}
.md ul > li > a[href$="6"] + a ~ ul:before {
    background-position-x: -450px;
}
.md ul > li > a[href$="7"] + a ~ ul:before {
    background-position-x: -540px;
}
.md ul > li > a[href$="8"] + a ~ ul:before {
    background-position-x: -630px;
}
.md ul > li > a[href$="9"] + a ~ ul:before {
    background-position-x: -720px;
}
.md ul > li > a[href$="10"] + a ~ ul:before {
    background-position-x: -810px;
}
.md ul > li > a[href$="11"] + a ~ ul:before {
    background-position-x: -900px;
}
.md ul > li > a[href$="12"] + a ~ ul:before {
    background-position-x: -990px;
}
.md ul > li > a[href$="13"] + a ~ ul:before {
    background-position-x: -1080px;
}
.md ul > li > a[href$="14"] + a ~ ul:before {
    background-position-x: -1170px;
}
.md ul > li > a[href$="15"] + a ~ ul:before {
    background-position-x: -1260px;
}
.md ul > li > a[href$="16"] + a ~ ul:before {
    background-position-x: -1350px;
}
.md ul > li > a[href$="17"] + a ~ ul:before {
    background-position-x: -1440px;
}
.md ul > li > a[href$="18"] + a ~ ul:before {
    background-position-x: -1530px;
}
.md ul > li > a[href$="19"] + a ~ ul:before {
    background-position-x: -1620px;
}
.md ul > li > a[href$="20"] + a ~ ul:before {
    background-position-x: -1710px;
}
.md ul > li > a[href$="21"] + a ~ ul:before {
    background-position-x: -1800px;
}
.md ul > li > a[href$="22"] + a ~ ul:before {
    background-position-x: -1890px;
}
.md ul > li > a[href$="23"] + a ~ ul:before {
    background-position-x: -1980px;
}
.md ul > li > a[href$="24"] + a ~ ul:before {
    background-position-x: -2070px;
}
.md ul > li > a[href$="25"] + a ~ ul:before {
    background-position-x: -2160px;
}
.md ul > li > a[href$="26"] + a ~ ul:before {
    background-position-x: -2250px;
}
.md ul > li > a[href$="27"] + a ~ ul:before {
    background-position-x: -2340px;
}
.md ul > li > a[href$="28"] + a ~ ul:before {
    background-position-x: -2430px;
}
.md ul > li > a[href$="29"] + a ~ ul:before {
    background-position-x: -2520px;
}
.md ul > li > a[href$="30"] + a ~ ul:before {
    background-position-x: -2610px;
}
.md ul > li > a[href$="31"] + a ~ ul:before {
    background-position-x: -2700px;
}
.md ul > li > a[href$="32"] + a ~ ul:before {
    background-position-x: -2790px;
}
.md ul > li > a[href$="33"] + a ~ ul:before {
    background-position-x: -2880px;
}
.md ul > li > a[href$="34"] + a ~ ul:before {
    background-position-x: -2970px;
}
.md ul > li > a[href$="35"] + a ~ ul:before {
    background-position-x: -3060px;
}
.md ul > li > a[href$="36"] + a ~ ul:before {
    background-position-x: -3150px;
}
.md ul > li > a[href$="37"] + a ~ ul:before {
    background-position-x: -3240px;
}
.md ul > li > a[href$="38"] + a ~ ul:before {
    background-position-x: -3330px;
}
.md ul > li > a[href$="39"] + a ~ ul:before {
    background-position-x: -3420px;
}
.md ul > li > a[href$="40"] + a ~ ul:before {
    background-position-x: -3510px;
}
.md ul > li > a[href$="41"] + a ~ ul:before {
    background-position-x: -3600px;
}
.md ul > li > a[href$="42"] + a ~ ul:before {
    background-position-x: -3690px;
}
.md ul > li > a[href$="43"] + a ~ ul:before {
    background-position-x: -3780px;
}
.md ul > li > a[href$="44"] + a ~ ul:before {
    background-position-x: -3870px;
}
.md ul > li > a[href$="45"] + a ~ ul:before {
    background-position-x: -3960px;
}
.md ul > li > a[href$="46"] + a ~ ul:before {
    background-position-x: -4050px;
}
.md ul > li > a[href$="47"] + a ~ ul:before {
    background-position-x: -4140px;
}
.md ul > li > a[href$="48"] + a ~ ul:before {
    background-position-x: -4230px;
}
.md ul > li > a[href$="49"] + a ~ ul:before {
    background-position-x: -4320px;
}
.md ul > li > a[href$="50"] + a ~ ul:before {
    background-position-x: -4410px;
}
.md ul > li > a[href$="51"] + a ~ ul:before {
    background-position-x: -4500px;
}
.md ul > li > a[href$="52"] + a ~ ul:before {
    background-position-x: -4590px;
}
.md ul > li > a[href^="/t"] + a ~ ul:before {
    background-position-y: -457px;
}
.md ul > li > a[href^="/s"] + a ~ ul:before {
    background-position-y: -1350px;
}
.md ul > li > a[href^="/a"] + a ~ ul:before {
    background-position-y: -630px;
}
.md ul > li > a[href^="/j"] + a ~ ul:before {
    background-position-y: -720px;
}
.md ul > li > a[href^="/b"] + a ~ ul:before {
    background-position-y: -180px;
}
.md ul > li > a[href^="/c"] + a ~ ul:before {
    background-position-y: -1440px;
}
.md ul > li > a[href^="/n"] + a ~ ul:before {
    background-position-y: -360px;
}
.md ul > li > a[href^="/r"] + a ~ ul:before {
    background-position-y: -270px;
}
.md ul > li > a[href^="/l"] + a ~ ul:before {
    background-position-y: -810px;
}
.md ul > li > a[href^="/k"] + a ~ ul:before {
    background-position-y: -990px;
}
.md ul > li > a[href^="/u"] + a ~ ul:before {
    background-position-y: -1080px;
}
.md ul > li > a[href^="/q"] + a ~ ul:before {
    background-position-y: 0;
}
.md ul > li > a[href^="/su"] + a ~ ul:before {
    background-position-y: -90px;
}
.md ul > li > a[href^="/ru"] + a ~ ul:before {
    background-position-y: -1170px;
}
.md ul > li > a[href^="/as"] + a ~ ul:before {
    background-position-y: -1260px;
}
.md ul > li > a[href^="/br"] + a ~ ul:before {
    background-position-y: -1530px;
}
.md ul > li > a[href^="/bu"] + a ~ ul:before {
    background-position-y: -1620px;
}
.md ul > li > a[href^="/rk"] + a ~ ul:before {
    background-position-y: -900px;
}
